<div class="row">
	<div class="small-12 large-12 columns text-center">
		<h2>Los participantes</h2>
	</div>
</div>

<hr class="dashed">

<div class="row">
	<div class="small-12 large-12 columns text-center">
		<h3>Ruby</h3>
	</div>
</div>

<div class="row">
	<div class="small-5 large-5 columns">
		<p>Themes to discuss about the lang!.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vitae lobortis urna. Morbi scelerisque, tortor vel imperdiet porttitor, urna dui luctus ante, sit amet viverra metus urna ut elit. Sed sit amet viverra urna, et maximus ex. Donec consectetur non magna ut euismod. Vivamus sagittis tincidunt dui, eget commodo eros sodales ac. Pellentesque ornare lacus in sodales condimentum.</p>
	</div>
	<div class="small-2 large-2 columns text-center">
		<%= image_tag "ruby.png", size: "100x100"%>
	</div>
	<div class="small-5 large-5 columns">
		<p>About the person.Phasellus turpis risus, placerat vitae ante et, semper feugiat lacus. In nec sapien in dui semper imperdiet. Phasellus lacinia ligula ac tortor tristique, a tincidunt odio posuere. </p>
	</div>
	
</div>

<hr class="dashed">

<div class="row">
	<div class="small-12 large-12 columns text-center">
		<h3>.Net</h3>
	</div>
</div>

<div class="row">
	<div class="small-5 large-5 columns">
		<p>Themes to discuss about the lang!.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vitae lobortis urna. Morbi scelerisque, tortor vel imperdiet porttitor, urna dui luctus ante, sit amet viverra metus urna ut elit. Sed sit amet viverra urna, et maximus ex. Donec consectetur non magna ut euismod. Vivamus sagittis tincidunt dui, eget commodo eros sodales ac. Pellentesque ornare lacus in sodales condimentum.</p>
	</div>
	<div class="small-2 large-2 columns text-center">
		<%= image_tag "ruby.png", size: "100x100"%>
	</div>
	<div class="small-5 large-5 columns">
		<p>About the person.Phasellus turpis risus, placerat vitae ante et, semper feugiat lacus. In nec sapien in dui semper imperdiet. Phasellus lacinia ligula ac tortor tristique, a tincidunt odio posuere. </p>
	</div>
</div>

<hr class="dashed">

<div class="row">
	<div class="small-12 large-12 columns text-center">
		<h3>Node.js</h3>
	</div>
</div>

<div class="row">
	<div class="small-5 large-5 columns">
		<p>Themes to discuss about the lang!.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vitae lobortis urna. Morbi scelerisque, tortor vel imperdiet porttitor, urna dui luctus ante, sit amet viverra metus urna ut elit. Sed sit amet viverra urna, et maximus ex. Donec consectetur non magna ut euismod. Vivamus sagittis tincidunt dui, eget commodo eros sodales ac. Pellentesque ornare lacus in sodales condimentum.</p>
	</div>
	<div class="small-2 large-2 columns text-center">
		<%= image_tag "ruby.png", size: "100x100"%>
	</div>
	<div class="small-5 large-5 columns">
		<p>About the person.Phasellus turpis risus, placerat vitae ante et, semper feugiat lacus. In nec sapien in dui semper imperdiet. Phasellus lacinia ligula ac tortor tristique, a tincidunt odio posuere. </p>
	</div>
</div>

<hr class="dashed">