<div class="row">
	<div class="large-12 columns text-center">		
			<h2>EXPOGRAMMING</h2>		
			<p class="sub-headline">ALL ABOUT LOREM IPSUM!!!</p>
	</div>
</div>

<hr class="dashed hide-for-medium-up">

<div class="row">
	<div class="large-12 columns text-center">	
		<h3>Content</h3>
		<p>This is about a evento of numbers and fairies, magic and more. </p>
		<p>ABOUT THESE GUYS!</p>
	</div>
</div>
<div class="row">
	<div class="large-4 columns text-center">
		<%= image_tag "ruby.png", size: "150x150" %>
		<h3>Language1</h3>
		<p>abkjfbkjasbdkjabsdkjbaskjfbaksjbfkasbkjabsk
		<br>lorem aodijaoidjioajdiojadiojaidjoaisjdoia
		<br>aos8djaiosdjoiajdioajsdiojaiosjdoiajsdoijo</p>
	</div>
	<div class="large-4 columns text-center">
		<%=image_tag "net.png", size: "170x150" %>
		<h3>Language2</h3>
		<p>adnfiuafhiuashfuisahfiuhaiushfuiaifhiashfiua
		<br>asodijaoidjaiojdioajdijdoiaoidjaoijdoioiiii
		<br>aiodjaiosdjaojdoaijdoiajdoiasjdoijasidjsaio</p>
	</div>
	<div class="large-4 columns text-center">
		<%= image_tag "node-js.png", size: "200x150" %>
		<h3>Language3</h3>
		<p>aoijfioasjiofjasoidjiasjdioasjdoiasjdioajsoid
		<br>aiodjoaijdoiajsdoiasdiojaoidaiojdoiajdoijjjj
		<br>aiodjaoisdjoiajsdoijadoijaoijdoiajioajfiojoij</p>
	</div>
</div>.