<div class="row">
	<div class="small-12 large-12 columns text-center">		
			<h2>EXPOGRAMMING</h2>		
			<p class="sub-headline">SLOGAN!!!!!</p>
	</div>
</div>

<hr class="dashed ">

<div class="row">
	<div class="small-12 large-12 columns text-center">	
		<h3>Content</h3>
		<p>This is about a evento of numbers and fairies, magic and more. </p>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vitae lobortis urna. Morbi scelerisque, tortor vel imperdiet porttitor, urna dui luctus ante, sit amet viverra metus urna ut elit. Sed sit amet viverra urna, et maximus ex. Donec consectetur non magna ut euismod. Vivamus sagittis tincidunt dui, eget commodo eros sodales ac. Pellentesque ornare lacus in sodales condimentum. </p>

		<hr class="dashed ">
		
		<p>ABOUT THESE GUYS!</p>
	</div>
</div>


<div class="row">
	<div class="small-4 large-4 columns text-center">
		<%= image_tag "ruby.png", size: "150x150" %>
		<h3>Ruby</h3>
		<p> Phasellus turpis risus, placerat vitae ante et, semper feugiat lacus. In nec sapien in dui semper imperdiet. Phasellus lacinia ligula ac tortor tristique, a tincidunt odio posuere. Duis ullamcorper diam id libero congue, ac ultrices massa consectetur. Sed eget neque ac massa porta feugiat id ac tellus. Phasellus eget quam faucibus, dignissim sem quis, pulvinar ipsum. Maecenas vel quam dapibus nisl tempus fermentum. </p>
	</div>
	<div class="small-4 large-4 columns text-center">
		<%=image_tag "net.png", size: "170x150" %>
		<h3>.Net</h3>
		<p> Phasellus turpis risus, placerat vitae ante et, semper feugiat lacus. In nec sapien in dui semper imperdiet. Phasellus lacinia ligula ac tortor tristique, a tincidunt odio posuere. Duis ullamcorper diam id libero congue, ac ultrices massa consectetur. Sed eget neque ac massa porta feugiat id ac tellus. Phasellus eget quam faucibus, dignissim sem quis, pulvinar ipsum. Maecenas vel quam dapibus nisl tempus fermentum. </p>
	</div>
	<div class="small-4 large-4 columns text-center">
		<%= image_tag "node-js.png", size: "200x150" %>
		<h3>Node-JS</h3>
		<p> Aliquam sed volutpat mauris. Donec aliquam volutpat metus, eget venenatis enim varius vitae. Donec fringilla leo sit amet urna eleifend maximus. Donec laoreet ultricies augue id pretium. Proin euismod, mauris in consectetur ullamcorper, risus velit fermentum nunc, ac auctor magna quam non lacus.  </p>
	</div>
</div>

<hr class="dashed">