<div class="zurb-footer-top bg-orange">
	<div class="row property">
		<div class="large-4-columns">
			<div class="property-info">
				<h3>Uni</h3>
				<p>lorem itsummmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmasdasdasdasdadasd</p>
			</div>
		</div>

	</div>
</div>