<div class="fixed"> 
	<nav class="top-bar" data-topbar role="navigation">
		<div class="top-bar-section">
  	  <ul>
  	    <li><%=link_to 'HOME', root_path %></li>
  	    <li><%=link_to "About", pages_about_path %></li>
  	  </ul>
  	</div>
	</nav> 
</div>